language: scala
scala:
- 2.11.8
jdk:
- oraclejdk8
skip_cleanup: true
after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test "$TRAVIS_TAG" != "" && test $TRAVIS_REPO_SLUG == "avast/metrics" && sh "$TRAVIS_BUILD_DIR/.travis.bintray-credentials.sh" && sbt +publish
